{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel col-md-3" ></div>


    <select id="category" class="input-lg">
        <option value="" onclick="">Pasirinkite kategoriją</option>

        {% for category in categories %}
                <option value="{{  url('category_catalog', {'id': category.id}) }}">{{ category.name }}</option>
            {% endfor %}
    </select>
    <br>
            <div>
                <ul>
                    {% if list %}
                        {% for item in list %}
                                {{ include('catalog/box.html.twig') }}
                        {% endfor %}
                    {% else %}
                    <div class="alert alert-info">

                    <span class="alert-info">Sodybų nerasta. Pasirinkite kitą kategoriją.</span>
                    </div>
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>

{% endblock %}
